*{

margin: 0;
padding: 0;
text-decoration: none;
outline: none;

}
body{

width: 100;
background-color: rgb(66,103,178);


}

form{

background-color: white;
position: absolute;
width: 320px;
height: 270px;
margin-top: 1vh ;
margin-left: 41.6%;
border-radius: 5px;
box-shadow: 5px 5px 5px --7px;

}

input[type='text'] , input[ type='password']{

display: block;
background-color: azure;
margin: auto;
border: 1.5px solid rgb(300, 300, 300);
width: 200px;
padding: 10px 40px;
border-radius: 5px;
text-align: center;
color: black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 15px;
}

button{

    background-color: #1877f2;
    border: none;
    color:white;
    width: 283px;
    margin: auto ;
    display: block;
    border-radius: 5px;
    padding: 10px 0 ;
    font-weight: bold;
    cursor:pointer;

}

.f-pws{
display: block;
margin:auto;
width: 200px;
color: #1877f2;
padding-left: 80px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 400;
}

.btn2{
width: 180px;
font-size: 14px;
background-color: #42b72a;
text-align: center;

}

.line{

     border-top: 1px solid #222;
     opacity: 0.2;
     
}

.f-container{
    width: 350px;
    margin-left: 300px;
    margin-top: 30vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
p{

    text-align: center;
   
}

img{
height: 250px;
width: 250px;
margin-top: 0.5%;

}